
    <%- include('includes/head') %>
    <%- include('includes/header') %>
    <div class="container">
        <div class="py-5 text-center">
          <img class="d-block mx-auto mb-5 photo" src="/frontend/assets/img/autonotes.png" alt="" width="300" height="300">
          <h2>Cadastre-se</h2>
          <p class="lead">Cadastre-se para ter nossos serviços</p>
          <%- include('includes/messages') %>
        </div>
  
        <div class="row">
          <div class="col-md-4 order-md-2 mb-4">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
              <span class="text-muted">Seu cartão</span>
              <span class="badge badge-secondary badge-pill">3</span>
            </h4>
            <ul class="list-group mb-3">
              <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div id="example">
                  <small class="text-muted">Camiseta Rosa</small>
                </div>
                <span class="text-muted">$12</span>
              </li>
              <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                  <h6 id="item2"  class="my-0"></h6>
                  <small class="text-muted">Saia</small>
                </div>
                <span class="text-muted">$8</span>
              </li>
              <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                  <h6 id="item3"  class="my-0"></h6>
                  <small class="text-muted">Sapato</small>
                </div>
                <span class="text-muted">$5</span>
              </li>
              <li class="list-group-item d-flex justify-content-between bg-light">
                <div class="text-success">
                  <h6 id="item4" class="my-0"></h6>
                  <small>Desconto</small>
                </div>
                <span class="text-success">-$5</span>
              </li>
              <li class="list-group-item d-flex justify-content-between">
                <span>Total</span>
                <strong>$20</strong>
              </li>
            </ul>
  
            <form class="card p-2">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Promo code">
                <div class="input-group-append">
                  <button type="submit" class="btn btn-danger">Resgatar</button>
                </div>
              </div>
            </form>
          </div>
          <div class="col-md-8 order-md-1">
            <h4 class="mb-3">Endereço</h4>

            <form class="needs-validation" novalidate action="/logon/register" method="POST">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              <div class="row">
                <div class="col-md-6 mb-3">
                 
                  <label for="firstName">Nome</label>
                  <input type="text" class="form-control" id="firstName" placeholder="" value="" required name="nome">
                  <div class="invalid-feedback">
                   O primeiro nome válido é obrigatório.
                  </div>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="lastName">Sobrenome</label>
                  <input type="text" class="form-control" id="lastName" placeholder="" value="" required name="sobrenome">
                  <div class="invalid-feedback">
                    É necessário um sobrenome válido.
                  </div>
                </div>
              </div>
  
              <div class="mb-3">
                <label for="username">Usuário</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">@</span>
                  </div>
                  <input type="text" class="form-control" id="username" placeholder="Username" required name="usuario">
                  <div class="invalid-feedback" style="width: 100%;">
                    Seu nome de usuário é obrigatório.
                  </div>
                </div>
              </div>
  
              <div class="mb-3">
                <label for="email">Email <span class="text-muted">(Opcional)</span></label>
                <input type="email" class="form-control" id="email" placeholder="eu@example.com" name="email">
                <div class="invalid-feedback">
                Por favor, insira um endereço de e-mail válido para atualizações de envio.
                </div>
              </div>
  
              <div class="mb-3">
                <label for="address">Senha</label>
                <input type="password" class="form-control" id="address" placeholder="Digite sua senha" required name="senha">
                <div class="invalid-feedback">
                Favor inserir seu endereço de entrega.
                </div>
              </div>
  
              <div class="mb-3">
                <label for="address2">Endereço <span class="text-muted"></span></label>
                <input type="text" class="form-control" id="address2" placeholder="Rua pedro, 52 - Parque Pinheiros" name="endereco">
              </div>
  
              <div class="row">
                <div class="col-md-5 mb-3">
                  <label for="country">Cidade</label>
                  <select class="custom-select d-block w-100" id="country" required>
                    <option value="">Escolha...</option>
                    <option>Brasil</option>
                  </select>
                  <div class="invalid-feedback">
                    Por favor selecione um país válido
                  </div>
                </div>
                <div class="col-md-4 mb-3">
                  <label for="state">Estado</label>
                  <select class="custom-select d-block w-100" id="state" required>
                    <option value="">Escolha...</option>
                    <option>California</option>
                  </select>
                  <div class="invalid-feedback">
                    Forneça um estado válido.
                  </div>
                </div>
               
              </div>
              <button style="width: 300px; margin-bottom: 200px;" class="btn btn-danger btn-lg btn-block" type="submit">Finalizar</button>
            </form>
          </div>
        </div>
  
      </div>
  
      <!-- Bootstrap core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
      <script src="../../assets/js/vendor/popper.min.js"></script>
      <script src="../../dist/js/bootstrap.min.js"></script>
      <script src="../../assets/js/vendor/holder.min.js"></script>
      <script src="js/lista_desejos.js"></script>
      <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function() {
          'use strict';
  
          window.addEventListener('load', function() {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
  
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
              form.addEventListener('submit', function(event) {
                if (form.checkValidity() === false) {
                  event.preventDefault();
                  event.stopPropagation();
                }
                form.classList.add('was-validated');
              }, false);
            });
          }, false);
        })();
      </script>

      <%- include('includes/footer') %>
           <!-- 72º footer -->
  